a.btn-link {
    display:block;
    background-color: black;
/*    border-radius: 5px; */
    box-shadow: 4px 4px 6px #2c2a2a;
    width: 180px;
    text-align: left;
    line-height: 50px;
    text-decoration: none;
    padding-left: 15px;
    font-size: 125%;
}

/* unvisited link */
a.btn-link:link {
    color: white;
    background-color: #2c2a2a;
    text-decoration: none;
}

/* visited link */
a.btn-link:visited {
    color: white;
    background-color: #2c2a2a;
    text-decoration: none;
}

/* mouse over link */
a.btn-link:hover {
    color: white;
    background-color: #0c0c0c;
    text-decoration: none;
}

/* selected link */
a.btn-link:active {
box-shadow: 0px 0px 0px
}
